HeaderName header.txt
IndexIgnore .htaccess header.txt readme.txt RCS .acl
ReadmeName readme.txt

AuthType CAS

SSLRequireSSL
GroupExternal groupcheck
require valid-user
require group intranet-staff intranet-faculty acat

<FilesMatch "\.xpi$">
    Header set Content-Disposition attachment
</FilesMatch>

